.element {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.element:last-child {
  margin-bottom: 0;
}

.element_fullwidth {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 536px;
}

@media (max-width: 768px) {
  .element {
    margin-right: 0;
  }

  .element_fullwidth {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .element {
    margin-bottom: 12px;
  }

  .element_fullwidth {
    margin-left: 8px;
  }
}
